// colors
// =================== Light ===================
$primary: #0d6efd;

// text colors
$primary-text: #3d5586;

// =================== Dark ===================
$dark-primary: #0d6efd;

// text colors
$dark-primary-text: #3d5586;

// primereact custom